USE [master]
GO
/****** Object:  Database [running_gag]    Script Date: 28.10.2023 16:47:55 ******/
CREATE DATABASE [running_gag] ON  PRIMARY 
( NAME = N'running_gag', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\running_gag.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'running_gag_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\running_gag_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [running_gag].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [running_gag]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 28.10.2023 16:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[firstName] [varchar](50) NOT NULL,
	[lastName] [varchar](50) NOT NULL,
	[ID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([firstName], [lastName], [ID]) VALUES (N'Jaro', N'Kleine', N'2e37634d-692c-4722-8247-002791cb673b')
INSERT [dbo].[Customer] ([firstName], [lastName], [ID]) VALUES (N'Melia', N'Heinz', N'bfb55bf0-d3b6-4e63-878b-004eb8a76a3d')
INSERT [dbo].[Customer] ([firstName], [lastName], [ID]) VALUES (N'Tala', N'Hess', N'8f4ba2d0-42de-4650-ae04-004f320c285b')
GO
USE [master]
GO
